In [4]:
import numpy as np
import pandas as pd

In [5]:
CustomerID=np.arange(1,7)
Product=np.array(['Toaster','Toaster','Toaster','Radio','Radio','Radio'])
df1 = pd.DataFrame({'CustomerID':CustomerID, 'Product':Product})
CustomerID=np.array([2,4,6])
State=np.array(['Alabama','Alabama','Ohio'])
df2 = pd.DataFrame({'CustomerID':CustomerID, 'State':State})
df = pd.merge(df1,df2)
df.shape

(3, 3)

In [7]:
print(df)

   CustomerID  Product    State
0           2  Toaster  Alabama
1           4    Radio  Alabama
2           6    Radio     Ohio

In [8]:
df.describe()

       CustomerID
count         3.0
mean          4.0
std           2.0
min           2.0
25%           3.0
50%           4.0
75%           5.0
max           6.0

In [16]:
df.groupby("State").mean()

         CustomerID
State
Alabama           3
Ohio              6

In [32]:
pd.crosstab(index = df["Product"], columns = "Count",colnames = ['']).iloc[0,0]

2

Q1 of 14
Which of the following is/are correct way(s) of detecting outliers in a dataset? 

Values that are 1.5 IQR times lesser than the 1st quartile
Values that are 1.5 IQR times greater than the 3rd quartile
Values that are 2 times greater or lesser than the median 
**1 and 2**
Only 1
Only 2
Only 3
1, 2 and 3
Q2 of 14
Which of the following represents the relation between a quantitative and a categorical attribute?

Two dimensional box plot
Scatter plot
**Histogram**
Pie chart
Q3 of 14
Which of the following statement is true?

Outliers should always be replaced by the mean value of the attribute
**For a right skewed data mean is greater than median.**
A normalized vertical box plot has no outliers
Outliers should always be replaced by the median value of the attribute
Q4 of 14
To visualize growth in population of a country over time, which of the following graph will be the most suitable?

**Line chart**
Bar graph
Histogram
Pie chart
Q5 of 14
Consider the following iris_df dataframe from iris dataset



Which of the following commands will return the mean of all the  numerical columns with respect to their Species?

iris_df[“Species”].describe()
iris_df[“Species”].mean()
map(mean,iris_df[“Species”])
**iris_df.groupby("Species").mean()**
iris_df.iloc[:,:4].groupby("Species").mean()
Q6 of 14
Which of the following is shown when the describe method of the dataframe is invoked?

Mode
Variance
**Count of unique values**
Median
Q7 of 14
Which of the following is/are performed as part of data cleaning?

Removing outliers
Filling missing values
Removing missing values
Changing column names
**All of the given options**
Q8 of 14
Consider the below dataframes shopping_items_df  and shopping_prices_df respectively

 

Which of the following options give the below shown output between Prices and Items?



new_df = pd.merge(shopping_items_df,shopping_prices_df, on="Id" )
new_df.plot.bar(x='Items',y="Prices")
new_df = shopping_items_df.merge(shopping_prices_df, on="Id" )
new_df.barplot(x='Items',y="Prices") 
new_df = shopping_prices_df.merge(shopping_items_df, on="Id" )
new_df.plot (x='Items',y="Prices",kind=”bar”) 
new_df = shopping_items_df.merge(shopping_prices_df, on="Id" )
new_df[["Id","Prices"]].plot()
 

**1 and 3**
2 and 3
3 and 4
1 and 4
Q9 of 14
Below is the data frame containing the data points about the applicants for a job. The data frame is named application_df. Which of the following option helps to sort the application_df by Marks_Secured?



sort(application_df).by("Mark_Secured")
application_df.sort(by="Mark_Secured")
**application_df.sort_values(by="Mark_Secured")**
sorted(application_df)
Q10 of 14
Study the below employee_df dataframe



Which of the following statements gives the output as shown below?



 

**employee_df.isna()**
employee_df.isNAN()
employee_df[employee_df != np.Null]
employee_df[employee_df!=None]
Q11 of 14
Consider the below code. What will be dimensions of df?

CustomerID=np.arange(1,7)
Product=np.array(['Toaster','Toaster','Toaster','Radio','Radio','Radio'])
df1 = pd.DataFrame({'CustomerID':CustomerID, 'Product':Product})
CustomerID=np.array([2,4,6])
State=np.array(['Alabama','Alabama','Ohio'])
df2 = pd.DataFrame({'CustomerID':CustomerID, 'State':State})
df = pd.merge(df1,df2)
df.shape
3 Rows and 2 Columns
**3 Rows and 3 Columns**
6 Rows and 2 Columns
6 Rows and 3 Columns
Q12 of 14
Which of the following options helps to convert categorical data to numerical data on the application_df dataframe given below?



**pd.get_dummies(application_df)**
application_df.one_hot_encoding()
application_df.get_dummies()
application_df.to_numerical()
Q13 of 14
Which of the following options best describes Exploratory Data Analysis?

Increase the number of features
Creating new data
**Finding patterns, Detect and remove anamolies**
Increase the number of datapoints
Q14 of 14
Given the below dataframe application_df



What is the output of the following code?

pd.crosstab(index = application_df["Percentage"], columns = "Count",colnames = ['']).iloc[0,0]
1
**2**
3
Error